*.user
Win32
x64
*.suo
*.ncb
.*sw?
.DS_Store
kernels/config.h
kernels/hash.h
include/embree4/rtcore_config.h
/build/.vs
/build/_deps
/build/builders
/build/bvh
/build/CMakeFiles
/build/common
/build/Debug
/build/geometry
/build/kernels
/build/openvdb
/build/subdiv
/build/tests
/build/tutorials
/build/x64
out
